.ws-message {

}


.message{
	color: #FFFFFF;
	padding: 10px;
	background:-webkit-gradient(linear, 0 0, 0 100%, from(#f04349), to(#c81e2b));
	border-radius:10px;
}

.message h1{ 
	color:#000000;
	font-size:75%;
}

.my-message{

}
